{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-3">
      <div class="login-panel panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Create New Posts</h3>
          </div>
          <div class="panel-body">
            <form action="/ranking/create_posts/" method="POST">
             <div class="row">
               <div class="col-sm-10 offset-sm-1">
                <div class="card">
                  <div class="card-block">
                   <div class="row">
                     <div class="col-xs-12 col-sm-6">
                       <div class="form-group">
                        {{ form.username }}
                        {{ form.username.errors }}
                      </div>
                     </div>
                      <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                        {{ form.email }}
                      </div>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col-xs-12 col-sm-6">
                       <div class="form-group">
                        {{ form.password1 }}
                        {{ form.password1.errors }}
                      </div>
                     </div>
                      <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                        {{ form.password2 }}
                        {{ form.password2.errors }}
                      </div>
                     </div>
                   </div>
                    <div class="row">
                     <div class="col-xs-12 col-sm-6">
                       <div class="form-group">
                        {{ form.first_name }}
                      </div>
                     </div>
                      <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                        {{ form.last_name }}
                      </div>
                     </div>
                   </div>
                   {% csrf_token %}
                   <button type="submit" class="btn btn-lg btn-success btn-block">Create</button>
                 </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
