{% extends "base.html" %}
{% block title %}Register Confirm{% endblock %}
    {% block body %}
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="login-panel panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Succesfully Registered</h3>
            </div>
            <div class="panel-body">
              <a href="/ranking/mypage/">Move to MyPage</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
