{% extends "base.html" %}
{% block title %}Ranking-UserInfo{% endblock %}
    {% block body %}
    <div class="container">
      <div id="page-wrapper">
        <div class="row">
          <div class="center">
            <h1>ユーザ情報</h1>
            <p class="lead">ログイン中のユーザデータを表示します</p>
          </div>
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>名前・説明</th>
                <th>ログインユーザのデータ</th>
                <th>備考</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ユーザ名</td>
                <td>{{ user.username }}</td>
                <td>必須</td>
              </tr>
              <tr>
                <td>メール</td>
                <td>{{ user.email }}</td>
                <td>デフォルトは空欄でもOK</td>
              </tr>
              <tr>
                <td>姓</td>
                <td>{{ user.first_name }}</td>
                <td>デフォルトは空欄でもOK</td>
              </tr>
              <tr>
                <td>名</td>
                <td>{{ user.last_name }}</td>
                <td>デフォルトは空欄でもOK</td>
              </tr>
              <tr>
                <td>adminサイトにアクセスできるか</td>
                <td>{{ user.is_staff }}</td>
                <td>デフォルトはFalse</td>
              </tr>
              <tr>
                <td>アカウントが有効か（ログインできるか）</td>
                <td>{{ user.is_active }}</td>
                <td>デフォルトはTrue</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endblock %}
